@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;700&display=swap');

body, html {
    height: 100%;
    font-family: 'Oswald', sans-serif;
    color: #fff;
    margin: 0;
    font-weight:lighter;
}

.nav-bar {
    background-color: #2d3e50;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: sticky;
    top: 0;
    z-index: 1000; 
}


.brand-text {
    color: #e63946;
    font-weight: 400;
    font-size: 50px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin: 0px;
}

.nav-links a {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
    transition: color 0.3s ease;
    padding: 10px 15px;
}

.nav-links a.active, .nav-links a:hover {
    color: #e63946;
}


.main-content {
    font-family: 'Oswald', sans-serif;
    margin-left: 20%;
    margin-top: 0;
    padding: 0;
    flex: 1;
    
}

.banner {
    background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url("pictures/pray_sqr.jpg");
    background-size: cover;
    height: 100vh;
    padding: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.about{
    display: flex;
    justify-content: space-between; /* Adds equal space between each box */
    padding: 10px;
    background-color: #457b9d;
    padding: 50px;
    margin: auto;
    gap: 30px;
}

.about-divs{
    text-align: center;
    flex: 1;
    border-style:solid;
    border-radius: 10px;
    padding: 50px;
    
}


.gallery{
    background-color: #ffffff;
}


.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Responsive columns */
    gap: 20px; /* Space between grid items */
    padding: 100px;
  }
  

.grid-item {
    width: 100%;
    padding-top: 100%; /* Makes each item a square */
    background-size: cover; /* Scale background to cover the entire div */
    background-position:top; /* Center the image */
    background-repeat: no-repeat;
    /* border-radius: 8px; */
}


.banner h1 {
    font-size: 60px;
    margin-bottom: 15px;
    margin-top: 0;
    
}

.banner p {
    font-size: 20px;
    /* margin: 70px 0; */
}


.message{
    /* border-color: #e63947; */
    border-style: solid;
    border-radius: 10px;
    padding: 180px;
    
}

.header{
    color: #fff;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: 19px;
    font-weight: 400;
}

.footer{
    color: rgba(0, 0, 0, .74);
    background-color: rgba(220, 219, 219, 0.74);
    text-align: center;
    padding: 30px;
}


.subheading {
    font-size: 16px;
    color: #777;
    margin-bottom: 20px;
}


.titles{
    font-size: 38px;
    font-weight: 400;
    margin: 0;
}

.give{
    padding: 50px;
    color: black;
    text-align: center;
    background-color: #ccc;
}

.hr{ color: #e63946;
    text-decoration: solid;
}


.carousel {
    display: flex;
    align-items: center;
    /* position: relative; */
    height: 500px;
    justify-content: center;
  }

  .carousel-item {
    width: 250px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    border-radius: 15px;
    transition: transform 0.3s, opacity 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), /* soft shadow */
                0 6px 20px rgba(0, 0, 0, 0.15);
  }

  .carousel .active {
    transform: scale(1.2) translateX(0px);
    opacity: 1;
    z-index: 3;
  }


  .carousel .left {
    transform: scale(0.9) translateX(0);
    opacity: 0.8;
    z-index: 2;
  }

  .carousel .right {
    transform: scale(0.9) translateX(0);
    opacity: 0.8;
    z-index: 2;
  }

  .carousel .far-left {
    transform: scale(0.8) translateX(80px);
    opacity: 0.4;
    /* z-index: 3; */
  }

  .carousel .far-right {
    transform: scale(0.8) translateX(-80px);
    opacity: 0.4;
    /* z-index: 3; */
  }

  .carousel .prev, .carousel .next {
    /* position: absolute; */
    width: 60px;
    height: 60px;
    background-color: #e63946;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 18px;
    color: #b9b9b9;
    
    
  }

  .carousel .prev { margin: 0;}
  .carousel .next { margin: 0; }

  .logo{
    padding-top: 20px;
    width: 150px;
    height: 150px;
  }

  .paypal-link {
    display: block;
    margin-top: auto;
    padding-bottom: 20px;

  }

  .paypal-link img{
    height: 30px;
}

.give-details{
    padding-top: 10px;
}
